{% extends 'base.html' %}  
{% block content %}
 
  <div class="row justify-content-md-center">
    <div class="card shadow" style="width: 800;">
      <div class="card-body">
        <h4 class="mb-4">Aktivierungslink</h4>
        <p>
          <div class="alert alert-info">
            Wir haben eine E-Mail mit einem Bestätigungslink an deine Dienstmailadresse geschickt. 
            Bitte klicke diesen Link innerhalb von 24 Stunden an, um deine Registrierung abzuschließen.
          </div>
        </p>
      </div>
    </div>
  </div>

{% endblock content %}